body {
    background-color: #e7eaed;
    font-family: 'Maven Pro', sans-serif;
}
.content {
    text-align: center
}
.center {
    display: inline-block;
}
.navbar-brand {
    font-family: 'Rajdhani', sans-serif;
}
.dropdown-menu {
    --bs-dropdown-min-width: 7rem;
}