<header class="header-content">
  <div class="content">
    <div>
      <a> </a>
    </div>
    <div>
      <a> </a>
    </div>
    <div>
      <a> </a>
    </div>

    <div class="descripcion">
      <h2><b>Crea una mejor comunidad con TheQueenBot</b></h2>
      <h3>TheQueenBot fue diseñado para ser multifuncional y crear mejores
        comunidades sin toxicidad, raids, multicuentas, ETC.</h3>

      <div>
        <a> </a>

      </div>

      <div class="botones">
        <a
          class="btn btn-danger"
          type="submit"
          href="https://dsc.gg/thequeenbot"
        >Invitame!</a>
        <a
          class="btn btn-warning"
          type="submit"
          href="https://dsc.gg/tqbsupport"
        >Servidor de Soporte</a>
      </div>

      

    </div>

    <div>

    </div>
  </div>
</header>